/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  margin: 0;
  padding: 0;
  background-color: #DBE6EC;
  font-family: Lato;
  clear: both;


}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}



h1, h2, h3 {
text-align: center;
color: navy;
font-family: lato;
font-style: normal;
font-variant: normal;
font-weight: 100;
line-height: 92px;
}

h2{
  color: white;
}

.tablesupport {
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
}



.card {
  border-color: darkgray;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
  width: 400px;
  height: 200px;
  padding-bottom: 20px;
  padding-right: 20px;
  text-align: center;
  display: inline-block;
  font-size: 25px; 
  background-image: url('lightpaperfibers.png');
}

h4.card {
  font-size: 30px;
  padding-top: 0px;
  margin-top: 0px;
}

h1 {
  width: 100%;
  color: #F3F7DF;
  font-size: 90px;
  margin: 5px;

}
h2, h3 {
  padding: -30px;
  margin: -30px;
}



.authstatus {
  width: 100%;
  background-color: #81A8B8;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.header {
  width: 100%;
  background-color: #81A8B8;
  padding: 0;
  margin: 0;
  display: inline-block;
  border-bottom: solid #548396;
}

.secondheader {
  width: 100%;
  background-color: #6B818A;
  padding: 0px;
  margin: 0px;
  border-bottom: solid #506067;
}

table {
  width: 100%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
}

tr{
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

th {
  background-color: white;
  text-align: center;
}

td {
  text-align: center;
}

.gensection {
  background-color: #FFFFF0;
  border-color: #FFFFF0;
  border-size: 1px;
  border-style: solid;
  border-radius: 25px;
  width: 250px;
  height: 205px;
  display: inline-block;
  margin: 0px 50px;
  text-align: center;
  color: #81a8b8;
  /*Adding text keeps moving the div! */
  vertical-align: top;

}

.mamasection {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
